.container-slider {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}

.slide {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-bottom: 35px;
}

.sample {
  margin: auto;
  width: 400px;
  margin-top: 400px;
}
