
.landing-page {
  display: flex;
}

.landing-page-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 113px;
  background-color: #0060bf;
}