
.landing-page {
  display: flex;
  font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.landing-page-links {
  width: 330px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-page-items-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: auto;
}

.landing-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 113px;
  background-color: #0060bf;
  margin: auto;
}

.create-account-button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 7px;
}

