
.session_screen {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.session-left {
  display: flex;
  flex: 1;
  height: 100vh;
  background: #0060bF;
}

.session-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

@media all and (max-width: 767px) {
  .session-left {
    display: none;
  }
}

.alt-page-button-container {
  width: 85%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.alt-page-link {
  font-size: 15px;
  font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 96, 191, 0.1);
  padding: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  border-radius: 3px;
}

.session-form-container {
  
}